@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Hurricane&family=Ysabeau+Office:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Hurricane", cursive;
  font-family: "Ysabeau Office", sans-serif;
}
.textbox::placeholder {
  font-size: 1.5rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.5rem;
  margin-block: 2.8rem;
}

h2 {
  font-size: 2rem;
  width: 30%;
  margin-top: 14px;
  align-self: normal;
  margin-left: 21rem;
}
.textbox {
  width: 50%;
  height: 13rem;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #facc15;
  border-radius: 10px;
  outline-color: #84cc16;
  box-shadow: #fef08a 0px 20px 30px -10px;
  font-size: 1.5rem;
}

button {
  width: 20%;
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #f97316;
  box-shadow: rgba(87, 93, 50, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:hover {
  border: 2px solid black;
  background-color: #a3e635;
}
